@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container{
    width: 45vw;
    height: 100%;
    background-color: black;
    color: white;  
    margin: auto; 
}

.top{
    padding-bottom: 110px;
}

.name{
    font-size : 25px;
    text-align: center;
    padding-top: 45px;
}

.year{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.icon{
    margin-left: 160px;
    padding-top: 20px;
    /* background-color: white; */
    width: 50px;
    height: 50px;
}

.mid{
    background-color: white;
    width: 100%;
    height: 300px;
}

.left{
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: red; */
}

.image{
    width: 100%;
    height: 100%;
}

.right{
    float: right;
    width: 50%;
    height: 300px;
    /* background-color: green; */
}

.quote{
    padding: 35% 25%;
    text-align: center;
    width: 50%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.info{

width: 50%;
margin: auto;
/* background-color: white;     */
}

.bio1{
color: white;
font-size: 30px;
padding-top: 25px;
}

.bio2{
    color: white;
    padding-top: 20px;
    font-size: 13px;
    text-align: justify;
}

.line{
    margin-top: 30px;
    width: 70%;
}

.footer{
    text-align: center;
    font-size: 15px;
    padding-top: 2px;
}

.yo{
    color: #117e95 ;
}