@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.btn {
  width:50px;
  height: 55px;
  /* padding: 20px; */
  /* padding-top: 18px;
  padding-bottom: 18px; */
  
  margin: 0 3px;
  /* border: 2px solid #E9E9ED; */
  border: 2px solid black;
  border-radius: 12px;
}

.row {
  margin: 7px 0;
}

.row input {
  
  padding: 6px 5px;
  width: 230px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 40px;
}

.input{
  background-color: transparent;
    color: white;
    margin-top: 35px;
    margin-bottom: -15px;
}

.border {
  border: 2px solid black;
  border-radius: 12px;
}

.container {
  width: 265px;
  height: auto;
  padding: 10px 0 ;
  background-color: black;
}
